{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/solid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/brands.min.css' %}">
</head>
<body>
    <div class="header">
        {% block header %}
        <h1 class="title">Recopets</h1>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    
</body>
</html>