{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rekognition Demo</title>
</head>
<body>
    <h1>Rekognition Demo</h1>
    <form action="{% url 'imageupload:rekognition' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Selecciona una imagen:</label>
        <input type="file" id="image" name="image">
        <br>
        <button type="submit">Procesar</button>
    </form>
        
    </form>
</body>
</html>
