body {
	font-family: Candara, sans-serif;
	color: #333;
	text-align: center;
	background: linear-gradient(to bottom, white, #a3a1a1) no-repeat center center fixed;
	background-size: 100% 100%;
}

.title {
	color: #333;
	font-size: 32px;
	margin-bottom: 20px;
}

.button {
	display: inline-block;
	margin: 10px auto;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: #e5e5e5;
	border: none;
	border-radius: 5px;
	width: 250px;
}

.button:hover {
	background-color: #ddd;
}

.button:active {
	background-color: #979797;
	/*box-shadow: 0 3px #357e3d;*/
	transform: translateY(4px);
}

.link-button {
	text-decoration: none;
}

.button-container {
	text-align: left;
}

.imagen-little {
	width: 150px;
	height: 150px;
}
  